@import url("./font.css");

body {
    text-align: center;
    background-color: #ffffff;
    scrollbar-color:#163E6C #EBE6D6; 

  }

.page {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    justify-content: space-between;
    overflow-x: hidden;
  }


main {
    display: flex;
    margin: 3px;
    padding: 2px;
    background-color: #163E6C;
    justify-content:center;
    align-items: center;
    min-height: 73vh;
    border-radius: 12px;
  }





@media (max-width: 800px) {
  .btn{
    font-size: 14px;
  }
  .templates-element{
    flex-direction: column;
  }


  }

@media (max-width: 500px) {
  .btn{
    font-size: 12px;
  }
  .td {
    width: 100px;
  }

  
  
  }


