

.txt {
    color: #EBE6D6;
    font-family: "Regular", serif;
    display: inline;
    
    
    
}


.left {
    text-align: start;
    margin: 3px;
    padding: 5px;
  }

.dark-color {
    color: #163E6C;
}

.italic {
    font-family: "Italic";
}

.italic-bold {
    font-family: "Italic-Bold";
}

.bold {
    font-family: "Bold";
}