
.test1 {
    font-family: "Regular";
}

.test2 {
    font-family: "Bold";
}

.test3 {
    color: blue;
    font-family: "Italic";
}

.test4 {
    font-family: "Italic-Bold";
}

p {
    font-family: "Bold"; 
}

.col1 {
    background-color: #163E6C;
}


.col2 {
    background-color: #D20A11;
}

.col3 {
    background-color: #EBE6D6;
}

